:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Clash Display", sans-serif;
  --third-family: "Inter", sans-serif;

  --container-w: 87rem; //1392px
  --container-p: 1rem;

  //color

  --accent-color: #4980ff;
}
