.menu {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	padding-block: 0.5rem;
}

.menuLink {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.95rem;
	line-height: 1.3;
	color: rgba(0, 7, 45, 0.8);
}
