.headerTop {
	background: #f3f5f7;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.headerMain {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr;
	align-items: center;
	gap: 1.25rem;
	margin-bottom: 0.5rem;
}

.headerBottom {
	color: #fff;
	background: #213f74;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
}
